#
# Copyright 2024 NXP
#
# SPDX-License-Identifier: MIT
#

menuconfig MCUX_COMPONENT_middleware.freertos.coremqtt
    bool "coremqtt"
    default n
    help
        Client implementation of the MQTT 3.1.1 specification for embedded
    
config MCUX_COMPONENT_middleware.freertos.coremqtt.template
    bool "Component middleware.freertos.coremqtt.template"
    depends on MCUX_COMPONENT_middleware.freertos.coremqtt
    select MCUX_COMPONENT_middleware.iot_reference.logging

